.timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 64px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.button{
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Courier New', Courier, monospace;
}

.button:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}